# settings
.env

# local settings
/.docs/_stash
/.docs/note
/.docs/operations/policies/coding-go.md
/.docs/operations/policies/structure.md

# local skills
/.claude/skills/go-tdd

# local workspace
/go.work
/go.work.sum
